<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="module" src="../Controllers/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/f3be37cda0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <style>
        body {
            background-image: url("../../VIEWS/IMAGES/BACKGROUND2.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: auto;
            font-size: large;
            font-style:normal;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>
    <!-- INICIAR SESIÓN -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10" style="border-radius: 20px; background-color:rgba(137, 43, 226, 0.912); padding: 5%; margin-top: 5%; margin-bottom: 5%;">
            <center><h2><b>Inicia sesión</b></h2> <br></center>
            <form>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="mail" onkeyup="validateEmail()" name="loginUsername" placeholder="Ingresa tu correo" required>
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" name="loginPassword" placeholder="Ingresa tu contraseña" required>
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                </div>
                <br>
                <br>
                <div style="text-align: center;">
                    <button type="button" id="loginButton" class="btn btn-dark">Ingresar</button>
                    <center><lottie-player id="animation" src="../VIEWS/IMAGES/Animation - 1715182374330.json" background="transparent" speed="1" style="width: 100px; height: 100px; display: none;" loop autoplay></lottie-player></center>
                </div>
            </form>
            <br>
            <div class="modal-footer" style="display: flex; justify-content: center;">
                ¿No tienes una cuenta?
                <a type="button" class="btn btn-link" style="color: white;" href="register"> Regístrate</a>
            </div> 
        </div>

        <script>
            function validateEmail() {
            let email = document.getElementById("mail");
            if(email.value.indexOf('@') == -1 || email.value.indexOf('.') == -1){
                email.setAttribute("style", "border-color: red; border-width:4px;");
            }
            else{
                email.removeAttribute("style");
            }
        }
        </script>
    </div>

</body>
</html>
